.pass {
    color: limegreen;
}

.fail {
    color: lightcoral;
}

ul > li, button {
    font-family: 'Courier New', Courier, monospace;
}

.flow {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
