# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio / VS Code
.vs/
.vscode/

#Rider
.idea/

#macos
.DS_Store

# RazorX.Framework Project artifacts
RazorX.Framework/bin/
RazorX.Framework/obj/
RazorX.Framework/Node/dist
RazorX.Framework/Node/node_modules

# RazorX.Integration Project artifacts
RazorX.Integration/bin/
RazorX.Integration/obj/
RazorX.Integration/wwwroot/razorx.*
RazorX.Integration/appsettings.Development.json

# RazorX.Integration.Tests Project artifacts
RazorX.Integration.Tests/bin/
RazorX.Integration.Tests/obj/

# RazorX.Examples Project artifacts
RazorX.Examples/bin/
RazorX.Examples/obj/
