@implements IComponentModel<string>

<div id="@(Model)-target-with-trigger" data-merged="@(Guid.NewGuid().ToString("N"))">
    <button id="new-@(Model)-target-with-trigger" 
        data-rx-action="/test-target-with-trigger-remove" 
        data-rx-method="POST"
        data-merged="@(Guid.NewGuid().ToString("N"))"
        name="mode" value="@(Model)">
        *
    </button>
</div>

@code {
    [Parameter] public string Model { get; set; } = null!;
}