<div id="test-adjacent-target-1" data-merged="@(Guid.NewGuid().ToString("N"))"></div>
<div id="test-adjacent-target-2" data-merged="@(Guid.NewGuid().ToString("N"))"></div>
<div id="test-adjacent-target-3" data-merged="@(Guid.NewGuid().ToString("N"))"></div>
